// COLORS
$sides-color: #a3c834;
$main-color: #5a9679;
$secondary-color: #0c6f3c;
$title-color: #e4ebb1;
$bg-color: #b6c7ac;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
