@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

.left-sidebar,
.main-content,
.right-sidebar {
  border: 1px solid #5a9679;
  text-align: center;
}

.wrapper {
  flex: 1;
  display: flex;
}

#shopping-cart-section,
#shopping-cart-title,
#products-section,
#products-info,
.order-form,
.order-delete,
.order-details {
  display: none;
}

ol,
ul,
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 5px 0;
}

button {
  cursor: pointer;
  margin-top: 10px;
}

.order-form {
  margin: 20px 0 0;
}

.form-item {
  display: block;
  margin: 20px auto 0;
}

textarea {
  display: block;
  margin: 0 auto;
  padding: 30px;
  border-width: 1px;
  border-color: #ffffff;
  background-color: #ffffff;
  color: #000000;
  border-style: groove;
  border-radius: 11px;
  box-shadow: 0px 0px 6px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.75);
}

.header {
  background-color: #0c6f3c;
  color: #e4ebb1;
  text-align: center;
  padding: 10px;
  font-size: 3rem;
  padding: 20px 0;
}

.left-sidebar,
.right-sidebar {
  flex: 0 0 300px;
  padding-top: 30px;
  background-color: #a3c834;
  color: #5a9679;
}
.left-sidebar #orders-button,
.left-sidebar #buy-button,
.left-sidebar #form-submit,
.left-sidebar .order-delete,
.left-sidebar #back-button,
.right-sidebar #orders-button,
.right-sidebar #buy-button,
.right-sidebar #form-submit,
.right-sidebar .order-delete,
.right-sidebar #back-button {
  padding: 10px 40px;
  background-color: #e4ebb1;
  border-radius: 10px;
  font-size: 1.25rem;
  color: #5a9679;
}
.left-sidebar #orders-button:hover,
.left-sidebar #buy-button:hover,
.left-sidebar #form-submit:hover,
.left-sidebar .order-delete:hover,
.left-sidebar #back-button:hover,
.right-sidebar #orders-button:hover,
.right-sidebar #buy-button:hover,
.right-sidebar #form-submit:hover,
.right-sidebar .order-delete:hover,
.right-sidebar #back-button:hover {
  background-color: #ebf0c5;
}
.left-sidebar #orders-button:active,
.left-sidebar #buy-button:active,
.left-sidebar #form-submit:active,
.left-sidebar .order-delete:active,
.left-sidebar #back-button:active,
.right-sidebar #orders-button:active,
.right-sidebar #buy-button:active,
.right-sidebar #form-submit:active,
.right-sidebar .order-delete:active,
.right-sidebar #back-button:active {
  transform: scale(0.99);
  background-color: #d6e188;
}
.left-sidebar #product-details,
.right-sidebar #product-details {
  font-size: 1.75rem;
  padding-bottom: 15px;
}
.left-sidebar #buy-button,
.left-sidebar #form-submit,
.right-sidebar #buy-button,
.right-sidebar #form-submit {
  font-size: 1rem;
}
.left-sidebar .form-header,
.right-sidebar .form-header {
  font-size: 1.37rem;
  margin: 0;
}
.left-sidebar #full-name,
.left-sidebar #city,
.left-sidebar #delivery-branch,
.left-sidebar #quantity,
.right-sidebar #full-name,
.right-sidebar #city,
.right-sidebar #delivery-branch,
.right-sidebar #quantity {
  width: 80%;
  padding: 10px 0 10px 5px;
  border-radius: 15px;
}

h2 {
  font-size: 2.5rem;
  color: #e4ebb1;
  padding-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.category,
#product-list > li,
.order-title {
  cursor: pointer;
  font-size: 1.75rem;
  padding-bottom: 15px;
}
.category:hover,
#product-list > li:hover,
.order-title:hover {
  transform: scale(1.2);
  transition: 1s all;
  text-decoration: underline;
}

.form-item,
.order-details > li {
  font-size: 1.25rem;
  padding-bottom: 10px;
}

.main-content {
  width: 100%;
  flex: 1;
  background-color: #b6c7ac;
  padding: 30px;
  color: #119d55;
}
.main-content h2 {
  color: #f2f5da;
}

.order-delete {
  margin-bottom: 15px;
}

#back-button {
  margin-top: 0;
}

@media (400px <= width <= 600px) {
  .wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
  }
  .main-content {
    width: auto;
  }
  #orders-button {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */